

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

body{
 background-color: #fcfcff;
 font-family: "Poppins", sans-serif;
--color1: #FFF ;
--colorfulcolor:linear-gradient(126deg, #ae68fa 0%, #f1966e 100%);
--colorfulcolor2:linear-gradient(to right, rgb(180, 116, 237), rgba(226, 125, 169, 1), rgba(242, 157, 160, 1));

}

